.item-page-add-to-cart-btn-container {
    width: 200px;
    align-self: center;
    margin-top: 40px;
}

.item-page-properties-container section{
    margin-top: 20px;
}

.item-page-price {
    font-size: 20px;
    font-weight: bold;
}